table {
    width: 50%;
}
table tr {
    background-color: #EEE;
    border: 1px solid #FFF;
    font-size: 14px;
}
.mortgage_cal table.form_table tr{
  background: none !important;
}
.mortgage_cal table.form_table tr td, .mortgage_cal table.form_table tr th{
    padding:10px;
    font-size:14px;
}
.mortgage_cal table.form_table tr td:first-child{
    width:50%;
}